<%= render 'shared/dandre' %>
<% provide :description, 'betatrek sign up page, where new users can register for accounts, and existing users can sign in.' %>
<% provide :title, 'create account' %>
<% provide :step, '1' %>
<% provide :body_extensions, "signupBackgroundColor" %>
<% provide :main_extensions, "signupBackground" %>
<!-- For the screen readers -->
<p class="visuallyhidden">Algorithmic advice no matter the class.</p>
<!-- Sign up form -->
<form id="signup" class="signupFormPosition" action="/signup">
	<p class="visuallyhidden">Begin Here</p>
    <input type="email" name="email" class="defaultInputField niceVerticalSpacing" 
		   id="signup_email" placeholder="email" />
    <input type="password" name="password" class="defaultInputField niceVerticalSpacing" 
           id="signup_password" maxlength="24" placeholder="password" />
    <button type="submit" name="creation" class="formActionButton niceVerticalSpacing" 
            id="begin_account_creation">
			Begin!
	</button>
</form>

<!-- Create account form modal -->
<div class="modal" id="creation">
  <div class="content modalWindowPosition blackWithClearBorder">
    <div class="betatrekHead betatrekLogo">
      <%= link_to "betatrek", root_path %>
    </div>
    <%= render 'create_account_form', user: @user %>
  </div>
</div>