<div class="cf">
    <div class="progress step<%= yield :step %>">
    	<div class="triangle arrowTail"></div>
        <span class="first description Helvectica">1. Create Account</span>
        <div class="triangle firstArrowhead"></div>
        <span class="second description Helvectica">2. Input Assets</span>
        <div class="triangle secondArrowhead"></div>
        <span class="third description Helvectica">3. Select Risks</span>
        <div class="triangle thirdArrowhead"></div>
    </div>
</div>