<% if object.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			<% object.errors.full_messages.each do |msg| %>
				<% unless msg == "Email can't be blank" %>
					<div>&middot; <%= msg %></div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>