<div class="head">
	<!-- Line -->
    <div class="line betatrekHead">
    	<!-- Logo of Header Bar -->
		<div class="unit betatrekLogo">
	    	<a class="betatrekLink" href="">betatrek</a>
		</div>
		<!-- end Logo of Header Bar -->
		<!-- Buttons -->
		<% if content_for? :third_button %>
			<!-- Third Button of Header Bar -->
			<div class="unit unitExt">
	            <%= yield :third_button %>
			</div>
			<!-- end Third Button of Header Bar -->
		<% end %>
		<% if content_for? :second_button %>
			<!-- Second Button of Header Bar -->
	    	<div class="unit unitExt">
	            <%= yield :second_button %>
			</div>
			<!-- end Second Button of Header Bar -->
		<% end %>
		<% if content_for? :first_button %>
			<!-- First Button of Header Bar -->
	    	<div class="unit unitExt">
	            <%= yield :first_button %>
			</div>
			<!-- end First Button of Header Bar -->
		<% end %>
		<!-- end Buttons -->
	</div>
	<!-- end Line -->
</div>