<% id ||= "" %>
<% method ||= "get" %>
<%= link_to url, class: "betatrekLink", id: id, method: method do %>
	<div class="ovalContainer ovalButton">
		<div class="inner">
			<%= label %>
		</div>
	</div>
<% end %>