<%= render 'shared/dandre' %>
<% provide :description, 'betatrek invitation confirmation page to inform users that they have confirmed their email address.' %>
<% provide :title, 'Confirmed' %>
<div class="page">
	<h1 class="centered">Confirmed!<h1>
	<p>We will update you with new information as it because available</p>
</div>

