<%= render 'shared/dandre' %>
<% provide :description, 'betatrek invitation page, where new users can register to be informed of news pertaining to betatrek.' %>
<% provide :title, 'Invitation' %>
<div class="page liquid darkBackground">
	<div class="dotStockGraphBackground centered">
		<span class="visuallyhidden">betatrek</span>
	</div>
</div>