<%= render 'shared/dandre' %>
<% provide :description, 'betatrek invitation confirmation page to inform users that they have confirmed their email address.' %>
<% provide :title, 'Confirmed' %>
<% provide :page_extensions, 'liquid darkBackground' %>
<div class="centered">
	<h1>Confirmed!<h1>
	<p>We will update you with new information as it because available</p>
</div>


